%btn {
  border-radius: 4px;
  border: transparent;

  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}

%title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

%title-cl {
  color: $secondary-text-cl;
}
