// Fonts
$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;

// Text colors
$primery-text-cl: #757575;
$secondary-text-cl: #212121;
$accent-text-cl: #2196f3;
$special-text-cl: #ffffff;
$secondary-logo-cl: #000000;
$secondary-text-address-cl: rgba(255, 255, 255, 0.6);
$placeholder-tetx-cl: rgba(117, 117, 117, 0.5);

// Bg colors
$primery-bg-cl: #ffffff;
$secondary-bg-cl: #2f303a;
$portfolio-bg-cl: #eeeeee;
$special-bg-cl: #f5f4fa;
$overlay-bg-cl: rgba(33, 150, 243, 0.9);
$accent-bg-cl: #2196f3;
$hero-bg-cl: #c4c4c4;
$gradient-bg-cl: rgba(47, 48, 58, 0.4);
$footer-bg-icon: rgba(255, 255, 255, 0.1);
$work-description-bg-cl: rgba(47, 48, 58, 0.8);
$backdrop-bg-cl: rgba(0, 0, 0, 0.2);

// Buttons colors
$primery-btn-text-cl: #ffffff;
$secondary-btn-text-cl: #212121;
$btn-bg-active-cl: #188ce8;
$special-btn-bg-cl: #f5f4fa;
$btn-box-shadow-cl: rgba(0, 0, 0, 0.15);
$close-btn-border-cl: rgba(0, 0, 0, 0.1);

// Others
$accent-cl: #2196f3;
$primery-white-cl: #ffffff;
$portfolio-main-cl: #eeeeee;
$border-icon-cl: #afb1b8;
$border-header-cl: #ececec;
$form-fild-border-cl: rgba(33, 33, 33, 0.2);
$subscription-border-cl: rgba(255, 255, 255, 0.3);
$timing-funk: cubic-bezier(0.4, 0, 0.2, 1);
