.checkbox {
  display: flex;

  &__input {
    appearance: none;
  }

  &__icon {
    position: absolute;
    margin-top: 2px;
    margin-right: 7px;
    margin-left: 13px;
    border: 2px solid $secondary-text-cl;
    border-radius: 2px;
    fill: transparent;

    transition: fill 250ms $timing-funk, background-color 250ms $timing-funk,
      border-color 250ms $timing-funk;

    .checkbox__input:checked + & {
      fill: $primery-white-cl;
      background-color: $accent-bg-cl;
      border-color: $accent-cl;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 4px;
      margin-right: 7px;
      margin-left: 13px;
    }
  }

  &__description {
    position: relative;
    padding-left: 36px;
    margin-right: auto;

    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
  }

  &__policy {
    color: $accent-text-cl;
  }
}
