.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $secondary-bg-cl;

  &__container {
    text-align: center;

    @media screen and (min-width: 1200px) {
      text-align: start;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 20px;

    &--inverse-cl {
      color: $special-text-cl;
    }
  }

  &__address-list {
    @media (max-width: 767px) {
      margin-bottom: 60px;
    }
  }

  &__tablet-box {
    margin-bottom: 60px;

    @media (min-width: 786px) {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
    }

    @media (min-width: 1200px) {
      gap: 70px;
      margin-bottom: 0;
    }
  }
}
