.portfolio {
  &__title {
    @extend %title-cl;
    @extend %title;

    &--visually-hidden {
      @include visually-hidden;
    }
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 50px;
    max-width: 326px;

    @media (min-width: 786px) {
      justify-content: center;
      margin-bottom: 50px;
      max-width: 100%;
    }
  }
}
