.sample {
  @media (min-width: 786px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__name {
    @extend %title-cl;
  }

  &__item {
    flex-basis: 450px;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 786px) {
      flex-basis: calc((100% - 30px) / 2);
      margin-bottom: 0;
    }

    @media (min-width: 1200px) {
      flex-basis: calc((100% - 60px) / 3);
    }
  }

  &__content {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 20px;

    border-right: 1px solid $portfolio-main-cl;
    border-bottom: 1px solid $portfolio-main-cl;
    border-left: 1px solid $portfolio-main-cl;

    background-color: $primery-bg-cl;
  }

  &__name {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__type {
    margin-bottom: 0;

    color: $primery-text-cl;
    font-size: 16px;
    line-height: 1.88;
  }

  &__link {
    display: block;
    background-color: $portfolio-bg-cl;
    text-decoration: none;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      transform: translateY(0);
      transition: transform 250ms $timing-funk;
    }
  }
}
